<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="taylor_robot">

  <xacro:arg name="prefix" default=""/>

  <xacro:include filename="$(find taylor_robot)/gazebo/gazebo_control.xacro"/>
  <xacro:include filename="$(find taylor_robot)/gazebo/taylor.materials.xacro"/>
  <xacro:include filename="$(find taylor_robot)/urdf/taylor.lidar.xacro"/>
  <xacro:include filename="$(find taylor_robot)/urdf/taylor.robot.core.xacro"/>
  <xacro:include filename="$(find taylor_robot)/ros2_control/taylor.ros2_control.xacro"/>

  <xacro:taylor prefix="$(arg prefix)"/>

  <xacro:taylor_ros2_control name="Taylor" prefix="$(arg prefix)"/>

</robot>