<?xml version="1.0" encoding="UTF-8"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <gazebo reference="caster_wheel">
        <mu1 value="0.001"/>
        <mu2 value="0.001"/>
    </gazebo>

    <gazebo reference="right_wheel">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="left_wheel">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="lidar">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="chassis_link">
        <material>Gazebo/White</material>
    </gazebo>

    <gazebo reference="caster_wheel">
        <material>Gazebo/Black</material>
        <mu0 value="0.001"/>
        <mu1 value="0.001"/>
    </gazebo>

</robot>