<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="taylor_robot">

  <xacro:arg name="namespace" default=""/>
  <xacro:arg name="use_ros2_control" default="true"/>
  <xacro:arg name="use_sim_time" default="false"/>

  <xacro:include filename="$(find taylor_robot)/description/gazebo/taylor.gazebo.xacro"/>
  <xacro:include filename="$(find taylor_robot)/description/gazebo/taylor.materials.xacro"/>

  <xacro:include filename="$(find taylor_robot)/description/taylor.robot.core.xacro"/>

  <!-- Use only ros2_control if it's not a simulation, otherwise uses ros2_control + gazebo_ros2_control plugin-->
  <xacro:if value="$(arg use_ros2_control)">
    <xacro:include filename="$(find taylor_robot)/description/ros2_control.xacro"/>
  </xacro:if>

  <!-- Use diff plugin from gazebo to control the robot -->
  <xacro:unless value="$(arg use_ros2_control)">
    <xacro:include filename="$(find taylor_robot)/description/gazebo/gazebo_control.xacro"/>
  </xacro:unless>

  <xacro:include filename="$(find taylor_robot)/description/taylor.lidar.xacro"/>

  <xacro:taylor namespace="$(arg namespace)"/>

</robot>